<!DOCTYPE html>
<html>
  <head>
    <title>Payment Success!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./images/Kitt.png" type="image/x-icon">
    <link href="/styles/success.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js" integrity="sha512-jEnuDt6jfecCjthQAJ+ed0MTVA++5ZKmlUcmDGBv2vUI/REn6FuIdixLNnQT+vKusE2hhTk2is3cFvv5wA+Sgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/scripts/success.js"></script>
  </head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-H9RZR71PKV"></script>
  <body onload="setTimeout(function() { renavigate('<%=username%>'); }, 3000)">
    <div class="success-transaction-page">
        <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_wkebwzpz.json"  background="transparent"  speed="1.8"  style="width: 250px; height: 250px;" autoplay></lottie-player>
        <h1>Order Complete 🥳</h1>
        <p>Please check your inbox for an email from hello@kitt.bio</p>
    </div>
  </body>
</html>