<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061847591658-onuob9c65qh7aogkis8gqb9l15m61rmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061847591658-onuob9c65qh7aogkis8gqb9l15m61rmn</string>
	<key>API_KEY</key>
	<string>AIzaSyD7rZZk9Xp9fTjXlJzLBm11pg4ngnZR19Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1061847591658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axie.mishki</string>
	<key>PROJECT_ID</key>
	<string>mishki-36266</string>
	<key>STORAGE_BUCKET</key>
	<string>mishki-36266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061847591658:ios:951489dae096498dc94593</string>
	<key>DATABASE_URL</key>
	<string>https://mishki-36266-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
